.dashboard_superadmin{

    .row_charts{
        display: flex;
        flex-direction: row;
        padding-right: 10em;
        margin-left: -12em;
        gap: 3em;
        padding-left: 5em;
    }
}