// If you want to override variables do it here
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,500&family=Roboto:wght@100&display=swap');

* {
       margin: 0;
       padding: 0;
       font-family: 'Poppins', sans-serif !important;
       line-height: 1.29;
       box-sizing: border-box;
}

$enable-ltr: true;
$enable-rtl: true;
// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '@coreui/chartjs/scss/coreui-chartjs';

@import 'layout';

@import 'example';

// If you want to add custom CSS you can put it here.
@import 'custom';

.sidebar-nav,
.sidebar-toggler {
       background-color: white;
}
.sidebar-nav {
       background-color: white;
}
.sidebar,
.header,
.btn {
       box-shadow: 0 0px 0px rgb(0 0 0 / 16%), 0 1px 4px rgb(0 0 0 / 23%);
}

.nav-item {
       .nav-link.active {
              background-color: #73c5ff40;
              color: #0094ff !important;
              svg {
                     color: #0094ff !important;
              }
       }
       &:hover {
              box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 25%), 0 2px 3px 1px rgb(0 0 0 / 22%);
       }
}
.nav-Group {
       .nav-link.active {
              background-color: #73c5ff40;
              color: #0094ff !important;
              svg {
                     color: #0094ff !important;
              }
       }
       &:hover {
              box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 25%), 0 2px 3px 1px rgb(0 0 0 / 22%);
       }
}
